<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Помощь с оформлением диагностической карты для ОСАГО"</title>
        <meta name="description" content="Подлинная Диагностическая Карта в Вашем городе по доступной цене с внесением в базу ЕАИСТО! Только аккредитованные пункты ТО. Круглосуточная поддержка.">
        <meta name="keywords" content="диагностическая карта осаго, техосмотр недорого, получить диагностическую карту официально, помощь в прохождении техосмотра, техосмотр, помощь в получении диагностической карты">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="АВТОГИБДД">
        <meta property="og:title" content="Помощь с оформлением диагностической карты для ОСАГО">
        <meta property="og:description" content="Подлинная Диагностическая Карта в Вашем городе по доступной цене с внесением в базу ЕАИСТО! Только аккредитованные пункты ТО. Круглосуточная поддержка.">
        <meta property="og:url" content="http://avtogibdd.ru/index.html">
        <meta property="og:locale" content="ru_RU">
        <meta property="og:image" content="/img/img-og.jpg">
        <meta property="og:image:width" content="968">
        <meta property="og:image:height" content="504">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="../img/favicons/apple-touch-icon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="../../img/favicons/apple-touch-icon.png"> 

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/38d2cab1a5.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!-- Bootstap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Styles -->
        <link rel="stylesheet" href="../styles/main.css">

    </head>
    <body>
        <div class="wrapper">
            <header id="header" class="header-xl header">
                <div class="header-wrap row">
                    <div class="logo col-md-7">
                        <a href="/" class="logo-link">
                            <img src="/img/logo.webp" alt="logo" class="logo-pic navbar-brand">
                        </a>
                        <p class="logo-description">Авторизированная Информационная Система Технического Осмотра</p>
                    </div>
                    <div class="support col-md-5">
                        <select name="city" id="selectItem" class="city-select" >
                            <option id="city" value="">Ваш город</option>
                            <option id="city3">Абакан</option>
                            <option id="city4">Альметьевск</option>
                            <option id="city5">Ангарск</option>
                            <option id="city6">Арзамас</option>
                            <option id="city7">Армавир</option>
                            <option id="city8">Артём</option>
                            <option id="city9">Архангельск</option>
                            <option id="city10">Астрахань</option>
                            <option id="city11">Ачинск</option>
                            <option id="city12">Балаково</option>
                            <option id="city13">Балашиха</option>
                            <option id="city14">Барнаул</option>
                            <option id="city15">Батайск</option>
                            <option id="city16">Белгород</option>
                            <option id="city17">Бердск</option>
                            <option id="city18">Березники</option>
                            <option id="city19">Бийск</option>
                            <option id="city20">Благовещенск</option>
                            <option id="city21">Братск</option>
                            <option id="city22">Брянск</option>
                            <option id="city23">Великие Луки</option>
                            <option id="city24">Великий Новгород</option>
                            <option id="city25">Владивосток</option>
                            <option id="city26">Владикавказ</option>
                            <option id="city27">Владимир</option>
                            <option id="city28">Волгоград</option>
                            <option id="city29">Волгодонск</option>
                            <option id="city30">Волжский</option>
                            <option id="city31">Вологда</option>
                            <option id="city32">Воронеж</option>
                            <option id="city33">Воскресенск</option>
                            <option id="city34">Воткинск</option>
                            <option id="city35">Гатчина</option>
                            <option id="city36">Глазов</option>
                            <option id="city37">Грозный</option>
                            <option id="city38">Дербент</option>
                            <option id="city39">Дзержинск</option>
                            <option id="city40">Димитровград</option>
                            <option id="city41">Долгопрудный</option>
                            <option id="city42">Домодедово</option>
                            <option id="city43">Евпатория</option>
                            <option id="city44">Екатеринбург</option>
                            <option id="city45">Елец</option>
                            <option id="city46">Ессентуки</option>
                            <option id="city47">Железногорск</option>
                            <option id="city48">Жуковский</option>
                            <option id="city49">Зеленодольск</option>
                            <option id="city50">Златоуст</option>
                            <option id="city51">Иваново</option>
                            <option id="city52">Ижевск</option>
                            <option id="city54">Йошкар-Ола</option>
                            <option id="city53">Иркутск</option>
                            <option id="city55">Казань</option>
                            <option id="city56">Калининград</option>
                            <option id="city57">Калуга</option>
                            <option id="city58">Каменск-Уральский</option>
                            <option id="city59">Каменск-Шахтинский</option>
                            <option id="city60">Камышин</option>
                            <option id="city61">Канск</option>
                            <option id="city62">Каспийск</option>
                            <option id="city63">Кемерово</option>
                            <option id="city64">Керчь</option>
                            <option id="city65">Киров</option>
                            <option id="city66">Киселёвск</option>
                            <option id="city67">Кисловодск</option>
                            <option id="city68">Ковров</option>
                            <option id="city69">Коломна</option>
                            <option id="city70">Комсомольск-на-Амуре</option>
                            <option id="city71">Копейск</option>
                            <option id="city72">Королёв</option>
                            <option id="city73">Кострома</option>
                            <option id="city74">Красногорск</option>
                            <option id="city75">Краснодар</option>
                            <option id="city76">Красноярск</option>
                            <option id="city77">Курган</option>
                            <option id="city78">Курск</option>
                            <option id="city79">Кызыл</option>
                            <option id="city80">Ленинск-Кузнецкий</option>
                            <option id="city81">Липецк</option>
                            <option id="city82">Люберцы</option>
                            <option id="city83">Магадан</option>
                            <option id="city84">Магнитогорск</option>
                            <option id="city85">Майкоп</option>
                            <option id="city86">Махачкала</option>
                            <option id="city87">Междуреченск</option>
                            <option id="city88">Миасс</option>
                            <option id="city89">Мичуринск</option>
                            <option id="city1">Москва</option>
                            <option id="city90">Мурманск</option>
                            <option id="city91">Муром</option>
                            <option id="city92">Мытищи</option>
                            <option id="city93">Набережные Челны</option>
                            <option id="city94">Назрань</option>
                            <option id="city95">Нальчик</option>
                            <option id="city96">Находка</option>
                            <option id="city97">Невинномысск</option>
                            <option id="city98">Нефтекамск</option>
                            <option id="city99">Нефтеюганск</option>
                            <option id="city100">Нижневартовск</option>
                            <option id="city101">Нижнекамск</option>
                            <option id="city102">Нижний Новгород</option>
                            <option id="city103">Нижний Тагил</option>
                            <option id="city104">Новокузнецк</option>
                            <option id="city105">Новокуйбышевск</option>
                            <option id="city106">Новомосковск</option>
                            <option id="city107">Новороссийск</option>
                            <option id="city108">Новосибирск</option>
                            <option id="city109">Новотроицк</option>
                            <option id="city110">Новоуральск</option>
                            <option id="city111">Новочебоксарск</option>
                            <option id="city112">Новочеркасск</option>
                            <option id="city113">Новошахтинск</option>
                            <option id="city114">Новый Уренгой</option>
                            <option id="city115">Ногинск</option>
                            <option id="city116">Норильск</option>
                            <option id="city117">Ноябрьск</option>
                            <option id="city118">Обнинск</option>
                            <option id="city119">Одинцово</option>
                            <option id="city120">Октябрьский</option>
                            <option id="city121">Омск</option>
                            <option id="city122">Орёл</option>
                            <option id="city123">Оренбург</option>
                            <option id="city124">Орехово-Зуево</option>
                            <option id="city125">Орск</option>
                            <option id="city126">Пенза</option>
                            <option id="city127">Первоуральск</option>
                            <option id="city128">Пермь</option>
                            <option id="city129">Петрозаводск</option>
                            <option id="city130">Петропавловск-Камчатский</option>
                            <option id="city131">Подольск</option>
                            <option id="city132">Прокопьевск</option>
                            <option id="city133">Псков</option>
                            <option id="city134">Пушкино</option>
                            <option id="city135">Пятигорск</option>
                            <option id="city136">Раменское</option>
                            <option id="city137">Ростов-на-Дону</option>
                            <option id="city138">Рубцовск</option>
                            <option id="city139">Рыбинск</option>
                            <option id="city140">Рязань</option>
                            <option id="city141">Салават</option>
                            <option id="city142">Самара</option>
                            <option id="city2">Санкт-Петербург</option>
                            <option id="city143">Саранск</option>
                            <option id="city144">Сарапул</option>
                            <option id="city145">Саратов</option>
                            <option id="city146">Саров</option>
                            <option id="city147">Севастополь</option>
                            <option id="city148">Северодвинск</option>
                            <option id="city149">Северск</option>
                            <option id="city150">Сергиев Посад</option>
                            <option id="city151">Серов</option>
                            <option id="city152">Серпухов</option>
                            <option id="city153">Симферополь</option>
                            <option id="city154">Смоленск</option>
                            <option id="city155">Соликамск</option>
                            <option id="city156">Сочи</option>
                            <option id="city157">Ставрополь</option>
                            <option id="city158">Старый Оскол</option>
                            <option id="city159">Стерлитамак</option>
                            <option id="city160">Сургут</option>
                            <option id="city161">Сызрань</option>
                            <option id="city162">Сыктывкар</option>
                            <option id="city163">Таганрог</option>
                            <option id="city164">Тамбов</option>
                            <option id="city165">Тверь</option>
                            <option id="city166">Тобольск</option>
                            <option id="city167">Тольятти</option>
                            <option id="city168">Томск</option>
                            <option id="city169">Тула</option>
                            <option id="city170">Тюмень</option>
                            <option id="city171">Улан-Удэ</option>
                            <option id="city172">Ульяновск</option>
                            <option id="city173">Уссурийск</option>
                            <option id="city174">Уфа</option>
                            <option id="city175">Ухта</option>
                            <option id="city176">Хабаровск</option>
                            <option id="city177">Хасавюрт</option>
                            <option id="city178">Химки</option>
                            <option id="city179">Чебоксары</option>
                            <option id="city180">Челябинск</option>
                            <option id="city181">Череповец</option>
                            <option id="city182">Черкесск</option>
                            <option id="city183">Чита</option>
                            <option id="city184">Шахты</option>
                            <option id="city185">Щёлково</option>
                            <option id="city186">Электросталь</option>
                            <option id="city187">Элиста</option>
                            <option id="city188">Энгельс</option>
                            <option id="city189">Южно-Сахалинск</option>
                            <option id="city190">Якутск</option>
                            <option id="city191">Ярославль</option>
                        </select>
                        <ul class="support__list">
                            <li class="support__item"><a href="mailto:info@avtogibdd.ru" class="support-email"><i class="email-icon far fa-envelope"></i> info@avtogibdd.ru</a></li>
                            <li class="support__item"><span class="support-text">Служба поддержки</span></li>
                        </ul>
                    </div>
                </div>
        </header>
        <header class="header-sm header">
                <div class="header-wrap row">
                    <div class="logo col-sm-12 col-xs-12">
                        <a href="/" class="logo-link">
                            <img src="/img/logo.webp" alt="logo" class="logo-pic navbar-brand">
                        </a>
                        <p class="logo-description">Единая Автоматизированная Информационная Система Технического Осмотра</p>
                    </div>
                    <div class="city col-sm-12
                    ">  
                        <select name="city" id="selectItem" class="city-select">
                            <option selected id="city" value="">Ваш город</option>
                            <option id="city3">Абакан</option>
                            <option id="city4">Альметьевск</option>
                            <option id="city5">Ангарск</option>
                            <option id="city6">Арзамас</option>
                            <option id="city7">Армавир</option>
                            <option id="city8">Артём</option>
                            <option id="city9">Архангельск</option>
                            <option id="city10">Астрахань</option>
                            <option id="city11">Ачинск</option>
                            <option id="city12">Балаково</option>
                            <option id="city13">Балашиха</option>
                            <option id="city14">Барнаул</option>
                            <option id="city15">Батайск</option>
                            <option id="city16">Белгород</option>
                            <option id="city17">Бердск</option>
                            <option id="city18">Березники</option>
                            <option id="city19">Бийск</option>
                            <option id="city20">Благовещенск</option>
                            <option id="city21">Братск</option>
                            <option id="city22">Брянск</option>
                            <option id="city23">Великие Луки</option>
                            <option id="city24">Великий Новгород</option>
                            <option id="city25">Владивосток</option>
                            <option id="city26">Владикавказ</option>
                            <option id="city27">Владимир</option>
                            <option id="city28">Волгоград</option>
                            <option id="city29">Волгодонск</option>
                            <option id="city30">Волжский</option>
                            <option id="city31">Вологда</option>
                            <option id="city32">Воронеж</option>
                            <option id="city33">Воскресенск</option>
                            <option id="city34">Воткинск</option>
                            <option id="city35">Гатчина</option>
                            <option id="city36">Глазов</option>
                            <option id="city37">Грозный</option>
                            <option id="city38">Дербент</option>
                            <option id="city39">Дзержинск</option>
                            <option id="city40">Димитровград</option>
                            <option id="city41">Долгопрудный</option>
                            <option id="city42">Домодедово</option>
                            <option id="city43">Евпатория</option>
                            <option id="city44">Екатеринбург</option>
                            <option id="city45">Елец</option>
                            <option id="city46">Ессентуки</option>
                            <option id="city47">Железногорск</option>
                            <option id="city48">Жуковский</option>
                            <option id="city49">Зеленодольск</option>
                            <option id="city50">Златоуст</option>
                            <option id="city51">Иваново</option>
                            <option id="city52">Ижевск</option>
                            <option id="city54">Йошкар-Ола</option>
                            <option id="city53">Иркутск</option>
                            <option id="city55">Казань</option>
                            <option id="city56">Калининград</option>
                            <option id="city57">Калуга</option>
                            <option id="city58">Каменск-Уральский</option>
                            <option id="city59">Каменск-Шахтинский</option>
                            <option id="city60">Камышин</option>
                            <option id="city61">Канск</option>
                            <option id="city62">Каспийск</option>
                            <option id="city63">Кемерово</option>
                            <option id="city64">Керчь</option>
                            <option id="city65">Киров</option>
                            <option id="city66">Киселёвск</option>
                            <option id="city67">Кисловодск</option>
                            <option id="city68">Ковров</option>
                            <option id="city69">Коломна</option>
                            <option id="city70">Комсомольск-на-Амуре</option>
                            <option id="city71">Копейск</option>
                            <option id="city72">Королёв</option>
                            <option id="city73">Кострома</option>
                            <option id="city74">Красногорск</option>
                            <option id="city75">Краснодар</option>
                            <option id="city76">Красноярск</option>
                            <option id="city77">Курган</option>
                            <option id="city78">Курск</option>
                            <option id="city79">Кызыл</option>
                            <option id="city80">Ленинск-Кузнецкий</option>
                            <option id="city81">Липецк</option>
                            <option id="city82">Люберцы</option>
                            <option id="city83">Магадан</option>
                            <option id="city84">Магнитогорск</option>
                            <option id="city85">Майкоп</option>
                            <option id="city86">Махачкала</option>
                            <option id="city87">Междуреченск</option>
                            <option id="city88">Миасс</option>
                            <option id="city89">Мичуринск</option>
                            <option id="city1">Москва</option>
                            <option id="city90">Мурманск</option>
                            <option id="city91">Муром</option>
                            <option id="city92">Мытищи</option>
                            <option id="city93">Набережные Челны</option>
                            <option id="city94">Назрань</option>
                            <option id="city95">Нальчик</option>
                            <option id="city96">Находка</option>
                            <option id="city97">Невинномысск</option>
                            <option id="city98">Нефтекамск</option>
                            <option id="city99">Нефтеюганск</option>
                            <option id="city100">Нижневартовск</option>
                            <option id="city101">Нижнекамск</option>
                            <option id="city102">Нижний Новгород</option>
                            <option id="city103">Нижний Тагил</option>
                            <option id="city104">Новокузнецк</option>
                            <option id="city105">Новокуйбышевск</option>
                            <option id="city106">Новомосковск</option>
                            <option id="city107">Новороссийск</option>
                            <option id="city108">Новосибирск</option>
                            <option id="city109">Новотроицк</option>
                            <option id="city110">Новоуральск</option>
                            <option id="city111">Новочебоксарск</option>
                            <option id="city112">Новочеркасск</option>
                            <option id="city113">Новошахтинск</option>
                            <option id="city114">Новый Уренгой</option>
                            <option id="city115">Ногинск</option>
                            <option id="city116">Норильск</option>
                            <option id="city117">Ноябрьск</option>
                            <option id="city118">Обнинск</option>
                            <option id="city119">Одинцово</option>
                            <option id="city120">Октябрьский</option>
                            <option id="city121">Омск</option>
                            <option id="city122">Орёл</option>
                            <option id="city123">Оренбург</option>
                            <option id="city124">Орехово-Зуево</option>
                            <option id="city125">Орск</option>
                            <option id="city126">Пенза</option>
                            <option id="city127">Первоуральск</option>
                            <option id="city128">Пермь</option>
                            <option id="city129">Петрозаводск</option>
                            <option id="city130">Петропавловск-Камчатский</option>
                            <option id="city131">Подольск</option>
                            <option id="city132">Прокопьевск</option>
                            <option id="city133">Псков</option>
                            <option id="city134">Пушкино</option>
                            <option id="city135">Пятигорск</option>
                            <option id="city136">Раменское</option>
                            <option id="city137">Ростов-на-Дону</option>
                            <option id="city138">Рубцовск</option>
                            <option id="city139">Рыбинск</option>
                            <option id="city140">Рязань</option>
                            <option id="city141">Салават</option>
                            <option id="city142">Самара</option>
                            <option id="city2">Санкт-Петербург</option>
                            <option id="city143">Саранск</option>
                            <option id="city144">Сарапул</option>
                            <option id="city145">Саратов</option>
                            <option id="city146">Саров</option>
                            <option id="city147">Севастополь</option>
                            <option id="city148">Северодвинск</option>
                            <option id="city149">Северск</option>
                            <option id="city150">Сергиев Посад</option>
                            <option id="city151">Серов</option>
                            <option id="city152">Серпухов</option>
                            <option id="city153">Симферополь</option>
                            <option id="city154">Смоленск</option>
                            <option id="city155">Соликамск</option>
                            <option id="city156">Сочи</option>
                            <option id="city157">Ставрополь</option>
                            <option id="city158">Старый Оскол</option>
                            <option id="city159">Стерлитамак</option>
                            <option id="city160">Сургут</option>
                            <option id="city161">Сызрань</option>
                            <option id="city162">Сыктывкар</option>
                            <option id="city163">Таганрог</option>
                            <option id="city164">Тамбов</option>
                            <option id="city165">Тверь</option>
                            <option id="city166">Тобольск</option>
                            <option id="city167">Тольятти</option>
                            <option id="city168">Томск</option>
                            <option id="city169">Тула</option>
                            <option id="city170">Тюмень</option>
                            <option id="city171">Улан-Удэ</option>
                            <option id="city172">Ульяновск</option>
                            <option id="city173">Уссурийск</option>
                            <option id="city174">Уфа</option>
                            <option id="city175">Ухта</option>
                            <option id="city176">Хабаровск</option>
                            <option id="city177">Хасавюрт</option>
                            <option id="city178">Химки</option>
                            <option id="city179">Чебоксары</option>
                            <option id="city180">Челябинск</option>
                            <option id="city181">Череповец</option>
                            <option id="city182">Черкесск</option>
                            <option id="city183">Чита</option>
                            <option id="city184">Шахты</option>
                            <option id="city185">Щёлково</option>
                            <option id="city186">Электросталь</option>
                            <option id="city187">Элиста</option>
                            <option id="city188">Энгельс</option>
                            <option id="city189">Южно-Сахалинск</option>
                            <option id="city190">Якутск</option>
                            <option id="city191">Ярославль</option>
                        </select>
                    </div>
                    <div class="support support-sm col-sm-12 col-xs-6">
                        <a href="mailto:info@avtogibdd.ru" class="support-email"><i class="email-icon far fa-envelope"></i> info@avtogibdd.ru</a>
                    </div>
                </div>
    </header>
            

    <section class="nfound">
            <div class="container">
                <div class="nfound-wrapp">
                    <div class="nfound__title">
                        <h1 class="nfound__title-text">404</h1>
                        <p class="nfound__title-desc nfound__title-desc-first">Запрашиваемая страница не найдена</p>
                        <p class="nfound__title-desc nfound__title-desc-second">Возможно вы ошиблись в адресе или страница была перемещена. Вы можете вернуться на главную, или воспользоваться меню.</p>
                        <p class="nfound__title-desc nfound__title-desc-third">Если эта страница появилась в процессе оформления заказа, напишите в техподдержку - <a href="mailto:info@avtogibdd.ru" target="_self" class="nfound__title-desc-link">info@avtogibdd.ru</a></p>
                    </div>
                    <div class="nfound__button">
                        <a href="index.html" class="nfound__button-link">На главную</a>
                    </div>
                </div>
            </div>
    </section>


    <footer class="footer">
        <div class="footer-wrap">
            <div class="footer-bottom">
                <p class="footer-bottom__text"><img src="/img/footer-notice.webp" alt="Notice" class="footer-bottom__img">Обращаем внимание: вся информация, представленная на данном сайте, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ. Получение диагностической карты происходит в соответствии с действующим федеральным законом.</p>
            </div>
        </div>
    </footer>     
</div>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    </body>
</html>