<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Помощь с оформлением диагностической карты для ОСАГО"</title>
        <meta name="description" content="Подлинная Диагностическая Карта в Вашем городе по доступной цене с внесением в базу ЕАИСТО! Только аккредитованные пункты ТО. Круглосуточная поддержка.">
        <meta name="keywords" content="диагностическая карта осаго, техосмотр недорого, получить диагностическую карту официально, помощь в прохождении техосмотра, техосмотр, помощь в получении диагностической карты">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="АВТОГИБДД">
        <meta property="og:title" content="Помощь с оформлением диагностической карты для ОСАГО">
        <meta property="og:description" content="Подлинная Диагностическая Карта в Вашем городе по доступной цене с внесением в базу ЕАИСТО! Только аккредитованные пункты ТО. Круглосуточная поддержка.">
        <meta property="og:url" content="http://avtogibdd.ru/index.html">
        <meta property="og:locale" content="ru_RU">
        <meta property="og:image" content="/img/img-og.jpg">
        <meta property="og:image:width" content="968">
        <meta property="og:image:height" content="504">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="../img/favicons/apple-touch-icon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="../../img/favicons/apple-touch-icon.png"> 

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/38d2cab1a5.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!-- Bootstap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Styles -->
        <link rel="stylesheet" href="../styles/main.css">

    </head>
    <body>
        <div class="wrapper">
            <header id="header" class="header-xl header">
        <div class="header-wrap row">
            <div class="logo col-md-7">
                <a href="/" class="logo-link">
                    <img src="/img/logo.png" alt="logo" class="logo-pic navbar-brand">
                </a>
                <p class="logo-description">Авторизованная Информационная Система Технического Осмотра</p>
            </div>
            <div class="support col-md-5">
                <select name="city" id="selectItem" class="city-select" >
                    <option id="city" value="">Ваш город</option>
                    <option id="city3">Абакан</option>
                    <option id="city4">Альметьевск</option>
                    <option id="city5">Ангарск</option>
                    <option id="city6">Арзамас</option>
                    <option id="city7">Армавир</option>
                    <option id="city8">Артём</option>
                    <option id="city9">Архангельск</option>
                    <option id="city10">Астрахань</option>
                    <option id="city11">Ачинск</option>
                    <option id="city12">Балаково</option>
                    <option id="city13">Балашиха</option>
                    <option id="city14">Барнаул</option>
                    <option id="city15">Батайск</option>
                    <option id="city16">Белгород</option>
                    <option id="city17">Бердск</option>
                    <option id="city18">Березники</option>
                    <option id="city19">Бийск</option>
                    <option id="city20">Благовещенск</option>
                    <option id="city21">Братск</option>
                    <option id="city22">Брянск</option>
                    <option id="city23">Великие Луки</option>
                    <option id="city24">Великий Новгород</option>
                    <option id="city25">Владивосток</option>
                    <option id="city26">Владикавказ</option>
                    <option id="city27">Владимир</option>
                    <option id="city28">Волгоград</option>
                    <option id="city29">Волгодонск</option>
                    <option id="city30">Волжский</option>
                    <option id="city31">Вологда</option>
                    <option id="city32">Воронеж</option>
                    <option id="city33">Воскресенск</option>
                    <option id="city34">Воткинск</option>
                    <option id="city35">Гатчина</option>
                    <option id="city36">Глазов</option>
                    <option id="city37">Грозный</option>
                    <option id="city38">Дербент</option>
                    <option id="city39">Дзержинск</option>
                    <option id="city40">Димитровград</option>
                    <option id="city41">Долгопрудный</option>
                    <option id="city42">Домодедово</option>
                    <option id="city43">Евпатория</option>
                    <option id="city44">Екатеринбург</option>
                    <option id="city45">Елец</option>
                    <option id="city46">Ессентуки</option>
                    <option id="city47">Железногорск</option>
                    <option id="city48">Жуковский</option>
                    <option id="city49">Зеленодольск</option>
                    <option id="city50">Златоуст</option>
                    <option id="city51">Иваново</option>
                    <option id="city52">Ижевск</option>
                    <option id="city54">Йошкар-Ола</option>
                    <option id="city53">Иркутск</option>
                    <option id="city55">Казань</option>
                    <option id="city56">Калининград</option>
                    <option id="city57">Калуга</option>
                    <option id="city58">Каменск-Уральский</option>
                    <option id="city59">Каменск-Шахтинский</option>
                    <option id="city60">Камышин</option>
                    <option id="city61">Канск</option>
                    <option id="city62">Каспийск</option>
                    <option id="city63">Кемерово</option>
                    <option id="city64">Керчь</option>
                    <option id="city65">Киров</option>
                    <option id="city66">Киселёвск</option>
                    <option id="city67">Кисловодск</option>
                    <option id="city68">Ковров</option>
                    <option id="city69">Коломна</option>
                    <option id="city70">Комсомольск-на-Амуре</option>
                    <option id="city71">Копейск</option>
                    <option id="city72">Королёв</option>
                    <option id="city73">Кострома</option>
                    <option id="city74">Красногорск</option>
                    <option id="city75">Краснодар</option>
                    <option id="city76">Красноярск</option>
                    <option id="city77">Курган</option>
                    <option id="city78">Курск</option>
                    <option id="city79">Кызыл</option>
                    <option id="city80">Ленинск-Кузнецкий</option>
                    <option id="city81">Липецк</option>
                    <option id="city82">Люберцы</option>
                    <option id="city83">Магадан</option>
                    <option id="city84">Магнитогорск</option>
                    <option id="city85">Майкоп</option>
                    <option id="city86">Махачкала</option>
                    <option id="city87">Междуреченск</option>
                    <option id="city88">Миасс</option>
                    <option id="city89">Мичуринск</option>
                    <option id="city1">Москва</option>
                    <option id="city90">Мурманск</option>
                    <option id="city91">Муром</option>
                    <option id="city92">Мытищи</option>
                    <option id="city93">Набережные Челны</option>
                    <option id="city94">Назрань</option>
                    <option id="city95">Нальчик</option>
                    <option id="city96">Находка</option>
                    <option id="city97">Невинномысск</option>
                    <option id="city98">Нефтекамск</option>
                    <option id="city99">Нефтеюганск</option>
                    <option id="city100">Нижневартовск</option>
                    <option id="city101">Нижнекамск</option>
                    <option id="city102">Нижний Новгород</option>
                    <option id="city103">Нижний Тагил</option>
                    <option id="city104">Новокузнецк</option>
                    <option id="city105">Новокуйбышевск</option>
                    <option id="city106">Новомосковск</option>
                    <option id="city107">Новороссийск</option>
                    <option id="city108">Новосибирск</option>
                    <option id="city109">Новотроицк</option>
                    <option id="city110">Новоуральск</option>
                    <option id="city111">Новочебоксарск</option>
                    <option id="city112">Новочеркасск</option>
                    <option id="city113">Новошахтинск</option>
                    <option id="city114">Новый Уренгой</option>
                    <option id="city115">Ногинск</option>
                    <option id="city116">Норильск</option>
                    <option id="city117">Ноябрьск</option>
                    <option id="city118">Обнинск</option>
                    <option id="city119">Одинцово</option>
                    <option id="city120">Октябрьский</option>
                    <option id="city121">Омск</option>
                    <option id="city122">Орёл</option>
                    <option id="city123">Оренбург</option>
                    <option id="city124">Орехово-Зуево</option>
                    <option id="city125">Орск</option>
                    <option id="city126">Пенза</option>
                    <option id="city127">Первоуральск</option>
                    <option id="city128">Пермь</option>
                    <option id="city129">Петрозаводск</option>
                    <option id="city130">Петропавловск-Камчатский</option>
                    <option id="city131">Подольск</option>
                    <option id="city132">Прокопьевск</option>
                    <option id="city133">Псков</option>
                    <option id="city134">Пушкино</option>
                    <option id="city135">Пятигорск</option>
                    <option id="city136">Раменское</option>
                    <option id="city137">Ростов-на-Дону</option>
                    <option id="city138">Рубцовск</option>
                    <option id="city139">Рыбинск</option>
                    <option id="city140">Рязань</option>
                    <option id="city141">Салават</option>
                    <option id="city142">Самара</option>
                    <option id="city2">Санкт-Петербург</option>
                    <option id="city143">Саранск</option>
                    <option id="city144">Сарапул</option>
                    <option id="city145">Саратов</option>
                    <option id="city146">Саров</option>
                    <option id="city147">Севастополь</option>
                    <option id="city148">Северодвинск</option>
                    <option id="city149">Северск</option>
                    <option id="city150">Сергиев Посад</option>
                    <option id="city151">Серов</option>
                    <option id="city152">Серпухов</option>
                    <option id="city153">Симферополь</option>
                    <option id="city154">Смоленск</option>
                    <option id="city155">Соликамск</option>
                    <option id="city156">Сочи</option>
                    <option id="city157">Ставрополь</option>
                    <option id="city158">Старый Оскол</option>
                    <option id="city159">Стерлитамак</option>
                    <option id="city160">Сургут</option>
                    <option id="city161">Сызрань</option>
                    <option id="city162">Сыктывкар</option>
                    <option id="city163">Таганрог</option>
                    <option id="city164">Тамбов</option>
                    <option id="city165">Тверь</option>
                    <option id="city166">Тобольск</option>
                    <option id="city167">Тольятти</option>
                    <option id="city168">Томск</option>
                    <option id="city169">Тула</option>
                    <option id="city170">Тюмень</option>
                    <option id="city171">Улан-Удэ</option>
                    <option id="city172">Ульяновск</option>
                    <option id="city173">Уссурийск</option>
                    <option id="city174">Уфа</option>
                    <option id="city175">Ухта</option>
                    <option id="city176">Хабаровск</option>
                    <option id="city177">Хасавюрт</option>
                    <option id="city178">Химки</option>
                    <option id="city179">Чебоксары</option>
                    <option id="city180">Челябинск</option>
                    <option id="city181">Череповец</option>
                    <option id="city182">Черкесск</option>
                    <option id="city183">Чита</option>
                    <option id="city184">Шахты</option>
                    <option id="city185">Щёлково</option>
                    <option id="city186">Электросталь</option>
                    <option id="city187">Элиста</option>
                    <option id="city188">Энгельс</option>
                    <option id="city189">Южно-Сахалинск</option>
                    <option id="city190">Якутск</option>
                    <option id="city191">Ярославль</option>
                </select>
                <ul class="support__list">
                    <li class="support__item"><a href="mailto:info@avtogibdd.ru" class="support-email"><i class="email-icon far fa-envelope"></i> info@avtogibdd.ru</a></li>
                    <li class="support__item"><span class="support-text">Служба поддержки</span></li>
                </ul>
            </div>
        </div>
</header>
<header class="header-sm header">
        <div class="header-wrap header-wrap-sm row">
            <div class="logo col-sm-12 col-xs-12">
                <a href="/" class="logo-link">
                    <img src="/img/logo.png" alt="logo" class="logo-pic navbar-brand">
                </a>
                <p class="logo-description">Единая Автоматизированная Информационная Система Технического Осмотра</p>
            </div>
            <div class="support support-sm col-sm-12 col-xs-12">
                <a href="mailto:info@avtogibdd.ru" class="support-email"><i class="email-icon far fa-envelope"></i> info@avtogibdd.ru</a>
            </div>
        </div>
</header>
            

        <section class="public-offer">
            <div class="public-offer__title">
                <h2 class="public-offer__title-text">Публичная оферта</h2>
                <p class="public-offer__title-desc">ООО "АВТОСТРАДА ТЕХОСМОТР", ИНН 6321172411, г. Тольятти, шоссе Обводное, 72, именуемый в дальнейшем «Исполнитель», публикует настоящий договор о предоставлении услуг (далее Договор), являющийся договором публичной оферты в адрес физических и юридических лиц, именуемых в дальнейшем «Клиент».</p>
            </div>
            <div class="public-offer-content">
               <div class="public-offer-content__section-first public-offer-content__section">
                   <span class="public-offer-content__section-title">1. ОБЩИЕ ПОЛОЖЕНИЯ </span>
                   <ul class="public-offer-content__list">
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.1. Настоящее пользовательское соглашение (далее – соглашение) относится к сайту расположенному по адресу https://avtogibdd.ru и ко всем соответствующим сайтам, связанным с сайтом (далее – сайт) avtogibdd.ru.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.2. Настоящее соглашение регулирует отношения между администрацией сайта и пользователем данного сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.3. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего соглашения без уведомления пользователя.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.4. Продолжение использования сайта пользователем означает принятие соглашения и изменений, внесенных в настоящее соглашение.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">1.5. Пользователь несет персональную ответственность за проверку настоящего соглашения на наличие изменений в нем.</p>
                       </li>
                   </ul>
               </div>
               <div class="public-offer-content__section-section public-offer-content__section">
                   <span class="public-offer-content__section-title">2. ОПРЕДЕЛЕНИЯ ТЕРМИНОВ</span>
                   <ul class="public-offer-content__list">
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1. Перечисленные ниже термины имеют для целей настоящего соглашения следующее значение:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.1 «avtogibdd.ru» –осуществляет свою деятельность посредством интернет-ресурса и сопутствующих ему сервисов организации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.2. Пользователь сайта (далее - пользователь) – лицо, имеющее доступ к сайту, посредством сети интернет и использующее сайт.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.3. Содержание сайта (далее – содержание) - охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного содержания, входящего в состав сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.4. Диагностическая карта - документ, оформленный по результатам проведения технического осмотра транспортного средства (в том числе его частей, предметов его дополнительного оборудования), содержащий сведения о соответствии или несоответствии транспортного средства обязательным требованиям безопасности транспортных средств и в случае, если содержит сведения о соответствии обязательным требованиям безопасности транспортных средств, подтверждающий допуск транспортного средства к участию в дорожном движении на территории российской федерации и в соответствии с международными договорами российской федерации также за ее пределами.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.5. Оператор технического осмотра - юридическое лицо или индивидуальный предприниматель (в том числе дилер), аккредитованные в установленном порядке на право проведения технического осмотра.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.6. Средства технического диагностирования - оборудование и программные средства, с помощью которых осуществляется техническое диагностирование и которые применяются при проведении технического осмотра.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.7. Пункт технического осмотра (далее – «ПТО») - совокупность сооружений и средств технического диагностирования (в том числе средств измерения), необходимых для проведения технического осмотра транспортных средств оператором технического осмотра и находящихся по одному адресу.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.8. Технический осмотр транспортных средств (далее также - технический осмотр) - проверка технического состояния транспортных средств (в том числе их частей, предметов их дополнительного оборудования) на предмет их соответствия обязательным требованиям безопасности транспортных средств в целях допуска транспортных средств к участию в дорожном движении на территории российской федерации и в случаях, предусмотренных международными договорами российской федерации, также за ее пределами.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.9. Технический эксперт - работник оператора технического осмотра, осуществляющий техническое диагностирование и отвечающий установленным в сфере технического осмотра квалификационным требованиям.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.10. Техническое диагностирование - часть технического осмотра, заключающаяся в процедуре подтверждения соответствия транспортных средств (в том числе их частей, предметов их дополнительного оборудования) обязательным требованиям безопасности транспортных средств.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">2.1.11, требования аккредитации - совокупность требований, которым должны удовлетворять заявитель и оператор технического осмотра при осуществлении деятельности по проведению технического осмотра;</p>
                       </li>
                   </ul>
               </div>
               <div class="public-offer-content__section-third public-offer-content__section">
                   <span class="public-offer-content__section-title">3. ПРЕДМЕТ СОГЛАШЕНИЯ</span>
                   <ul class="public-offer-content__list">
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.1. Предметом настоящего соглашения является предоставление пользователю сайта доступа к оказываемым услугам содержащимся на сайте.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.1.1. Сайт предоставляет пользователю следующие виды услуг (сервисов):</p>
                           <ul class="public-offer-content__item_list">
                               <li class="public-offer-content__item_list-item"><p class="public-offer-content__item-text">возможность подать заявку на прохождение технического осмотра транспортного средства на одной (или нескольких) из сотрудничающих с сайтом ПТО;</p></li>
                               <li class="public-offer-content__item_list-item"><p class="public-offer-content__item-text">иные виды услуг (сервисов), реализуемые на страницах сайта.</p></li>
                           </ul>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.1.2. Под действие настоящего соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) сайта, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.2. Настоящее соглашение является публичной офертой. Получая доступ к сайту пользователь считается присоединившимся к настоящему соглашению.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.3. Использование материалов и сервисов сайта регулируется нормами действующего законодательства российской федерации</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.4. Сайт не является оператором технического осмотра транспортных средств и не имеет средств технического диагностирования.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.5. Результатом получения услуги из п.3.1.1. является бланк диагностической карты с результатом проведения технического осмотра на ПТО и заверенный печатью и подписью технического эксперта ПТО, отправленный посредством электронной почты на электронный почтовый ящик пользователя, который ранее воспользовался услугой.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.6. Пользователь соглашается, что после заполнения любой формы на сайте его данные будут переданы на ПТО для дальнейшей обработки, в том числе для связи с пользователем по указанным контактным данным.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.7. Сайт не несет ответственности за процедуру технического диагностирования, которую проводит технический эксперт ПТО, делающий заключение о возможности или невозможности эксплуатации транспортного средства.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">3.8. Сайт не предоставляет доступ и не имеет доступа к единой автоматизированной информационной системе технического осмотра.</p>
                       </li>
                   </ul>
               </div>
               <div class="public-offer-content__section-fourth public-offer-content__section">
                   <span class="public-offer-content__section-title">4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</span>
                   <ul class="public-offer-content__list">
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.1. Администрация сайта вправе:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.1.1. Изменять правила пользования сайтом, а также изменять содержание данного сайта. Изменения вступают в силу с момента публикации новой редакции соглашения на сайте.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.1.2. Ограничить доступ к сайту в случае нарушения пользователем условий настоящего соглашения.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.2. Пользователь вправе:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.2.1. Пользоваться всеми имеющимися на сайте услугами, а также приобретать любые товары, предлагаемые на сайте.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.2.2. Задавать любые вопросы, относящиеся к услугам сайта по реквизитам, которые находятся в разделе сайта «контакты».</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.2.3. Пользоваться сайтом исключительно в целях и порядке, предусмотренных соглашением и не запрещенных законодательством российской федерации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3. Пользователь сайта обязуется:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.1. Предоставлять по запросу администрации сайта дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.2. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.3. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу сайта..</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.4. Не распространять с использованием сайта любую конфиденциальную и охраняемую законодательством российской федерации информацию о физических либо юридических лицах.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.5. Избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой законодательством российской федерации информации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.6. Не использовать сайт для распространения информации рекламного характера, иначе как с согласия администрации сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. Не использовать сервисы сайта с целью:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 1. загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 2. побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории российской федерации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 3. нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 4. ущемления прав меньшинств.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 5. представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников данного сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.3.7. 6. некорректного сравнения услуг, а также формирования негативного отношения к лицам, (не) пользующимся определенными товарами, или осуждения таких лиц.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4. Пользователю запрещается:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания сайта;</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.2. Нарушать надлежащее функционирование сайта;</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.3. Любым способом обходить навигационную структуру сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного сайта;</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.4. Несанкционированный доступ к функциям сайта, любым другим системам или сетям, относящимся к данному сайту, а также к любым услугам, предлагаемым на сайте;</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.5. Нарушать систему безопасности или аутентификации на сайте или в любой сети, относящейся к сайту.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.6. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом пользователе сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">4.4.7. Использовать сайт и его содержание в любых целях, запрещенных законодательством российской федерации, а также подстрекать к любой незаконной деятельности.</p>
                       </li>
                   </ul>
               </div>
               <div class="public-offer-content__section-five public-offer-content__section">
                   <span class="public-offer-content__section-title">5. ИСПОЛЬЗОВАНИЕ САЙТА</span>
                   <ul class="public-offer-content__list">
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.1. Сайт и содержание, входящее в состав сайта, принадлежит и управляется администрацией сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.2. Содержание сайта не может быть скопировано, опубликовано, воспроизведено, передано или распространено любым способом, а также размещено в глобальной сети «интернет» без предварительного письменного согласия администрации сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.3. Содержание сайта защищено авторским правом, законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.4. Информация, размещаемая на сайте не должна истолковываться как изменение настоящего соглашения.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">5.5. Администрация сайта имеет право в любое время без уведомления пользователя вносить изменения в перечень товаров и услуг, предлагаемых на сайте, и (или) в цены, применимые к таким товарам по их реализации и (или) оказываемым услугам сайтом.</p>
                       </li>
                   </ul>
               </div>
               <div class="public-offer-content__section-six public-offer-content__section">
                   <span class="public-offer-content__section-title">6. ОТВЕТСТВЕННОСТЬ</span>
                   <ul class="public-offer-content__list">
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.1. Любые убытки, которые пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего соглашения, а также вследствие несанкционированного доступа к коммуникациям другого пользователя, администрацией сайта не возмещаются.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.2. Администрация сайта не несет ответственности за:</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.2.1. Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.2.2. Действия систем переводов, банков, платежных систем и за задержки связанные с их работой.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">6.2.3. Надлежащее функционирование сайта, в случае, если пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.</p>
                       </li>
                   </ul>
               </div>
               <div class="public-offer-content__section-seven public-offer-content__section">
                   <span class="public-offer-content__section-title">7. НАРУШЕНИЕ УСЛОВИЙ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</span>
                   <ul class="public-offer-content__list">
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.1. Администрация сайта вправе раскрыть любую собранную о пользователе данного сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования сайта либо для установления (идентификации) пользователя, который может нарушать или вмешиваться в права администрации сайта или в права других пользователей сайта.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.2. Администрация сайта имеет право раскрыть любую информацию о пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего соглашения, защиты прав или безопасности пользователей.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.3. Администрация сайта имеет право раскрыть информацию о пользователе, если действующее законодательство российской федерации требует или разрешает такое раскрытие.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.4. Администрация сайта вправе без предварительного уведомления пользователя прекратить и (или) заблокировать доступ к сайту, если пользователь нарушил настоящее соглашение или содержащиеся в иных документах условия пользования сайтом, а также в случае прекращения действия сайта либо по причине технической неполадки или проблемы.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">7.5. Администрация сайта не несет ответственности перед пользователем или третьими лицами за прекращение доступа к сайту в случае нарушения пользователем любого положения настоящего соглашения или иного документа, содержащего условия пользования сайтом.</p>
                       </li>
                   </ul>
               </div>
               <div class="public-offer-content__section-eight public-offer-content__section">
                   <span class="public-offer-content__section-title">8. РАЗРЕШЕНИЕ СПОРОВ </span>
                   <ul class="public-offer-content__list">
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">8.1. В случае возникновения любых разногласий или споров между сторонами настоящего соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">8.2. Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">8.3. При невозможности разрешить спор в добровольном порядке любая из сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим законодательством российской федерации.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text"><8.4. Любой иск в отношении условий использования сайта должен быть предъявлен в течение срок после возникновения оснований для иска, за исключением защиты авторских прав на охраняемые в соответствии с законодательством материалы сайта. При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью./p>
                       </li>
                   </ul>
               </div>
               <div class="public-offer-content__section-nine public-offer-content__section">
                   <span class="public-offer-content__section-title">9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ </span>
                   <ul class="public-offer-content__list">
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">9.1. Администрация сайта не принимает встречные предложения от пользователя относительно изменений настоящего пользовательского соглашения.</p>
                       </li>
                       <li class="public-offer-content__item">
                           <p class="public-offer-content__item-text">9.2. Отзывы пользователя, размещенные на сайте, не являются конфиденциальной информацией и могут быть использованы администрацией сайта без ограничений.</p>
                       </li>
                   </ul>
               </div>
                <div class="public-offer-content__button">
                    <a href="index.html#form" class="public-offer-content__button-link">Вернуться к оформлению заявки</a>
                </div>
                <div class="public-offer-content__desc">
                    <p class="public-offer-content__item-text public-offer-content__desc-text">ООО "АВТОСТРАДА ТЕХОСМОТР", ИНН 6321172411, г. Тольятти, шоссе Обводное, 72, именуемый в дальнейшем «Исполнитель», публикует настоящий договор о предоставлении услуг (далее Договор), являющийся договором публичной оферты в адрес физических и юридических лиц, именуемых в дальнейшем «Клиент».</p>
                </div>
            </div>
        </section>


    <footer class="footer">
        <div class="footer-wrap">
            <div class="footer-bottom">
                <p class="footer-bottom__text"><img src="/img/footer-notice.webp" alt="Notice" class="footer-bottom__img">Обращаем внимание: вся информация, представленная на данном сайте, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ. Получение диагностической карты происходит в соответствии с действующим федеральным законом.</p>
            </div>
        </div>
    </footer>     
</div>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    </body>
</html>